/* Styling for the background */
.background {
    background-image: url('../assets/Github_mbp.jpg'); /* Set the background image */
    background-size: cover; /* Ensure the background image covers the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    background-color: rgba(49, 9, 112, 0.49); /* Set a semi-transparent background color */
}

/* Set the font for the entire body */
body {
    font-family: 'Your Preferred Font', sans-serif;
}

/* Styling for heading level 2 */
h2 {
    color: #f5bebe; /* Set the text color */
}

/* Styling for heading level 5 */
h5 {
    color: #f5bebe; /* Set the text color */
}

/* Styling for elements with the class 'my-5' */
.my-5 {
    margin-top: 0rem!important; /* Set top margin to 0 with importance */
    margin-bottom: 0rem!important; /* Set bottom margin to 0 with importance */
}

/* Set the maximum width to 100% for elements with the class 'max-width-100' */
.max-width-100 {
    max-width: 100%;
}
